<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="/img/favicon.ico"/>
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
    <style>
      .error {
        color: red;
      }
      h3 {
        font-family: "Tahoma", Times, sans-serif;
        font-size: 25px;
      }
    </style>
  </head>
  <body>
    <div class="cover" style="opacity: 0.85">
      <div class="cover-image" style="background-image : url('/img/background2.jpg')"></div>
      <div class="container" style="padding: 50px; margin-top: 50px; margin-bottom: 50px; background-color: rgb(247,247,249);">
        <div class="alert alert-warning" role="alert" hidden></div>
        <div class="row">
          <div class="col-md-12">
            <h1 class="text-center">Descubrí tus Talentos Workshop</h1>
            <h2 class="text-center" style="padding-bottom:20;">Taller de Talento y Marca Personal para mujeres emprendedoras.</h2>
            <div class="bg-info">
  			      <h3 class="text-center" style="padding-top:20;">Jueves 16 de marzo de 14 a 18:30hs</h3>
              <h3 class="text-center" style="padding-bottom:20;">Auditorio Mayor de IBM Argentina, Ingeniero Butty 275, 1º Subsuelo, CABA.</h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-left">
            <form id="form2" role="form" data-toggle="validator" action="/personalidad" method="post">
              <div class="form-group">
                <input hidden name="id" value="<%= id %>">
                <input hidden name="rev" value="<%= rev %>">
                <input hidden name="name" value="<%= name %>">
                <input hidden name="email" value="<%= email %>">
                <input hidden name="orgText" value="<%= orgText %>">
                <input hidden name="explaination" value="<%= explaination %>">
                <input hidden name="date" value="<%= date %>">
                <input hidden name="validado" value="<%= validado %>">
                <input hidden name="mailEnviado" value="<%= mailEnviado %>">
                <label class="control-label" name="textoInput">Por favor, ingrese un bloque de texto hecho por usted <span style="color: red;">*</span></label>
                <textarea class="form-control" rows="9" id="textoInput" name="textoInput" placeholder="Debe contener, aproximadamente, 600 caracteres. Para un mejor análisis, preferible 1200 caracteres."></textarea>
              </div>
              <br>
              <br>
              <div class="row">
                <div class="col-md-6">
                  <input id="valorBoton" hidden name="valorBoton" value="">
                  <button id="sendPersonalityBtn" class="btn btn-block btn-lg btn-primary">Enviar (se guarda)</button>
                </div>
                <div class="col-md-6">
                  <button id="sendTestBtn" type="submit" class="btn btn-block btn-lg btn-warning" style="color: black;">Hacer prueba (no se guarda)</button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p style="font-size: 14px;" class="text-center">Al enviar este texto acepto que IBM pueda procesar mis datos de la forma indicada anteriormente, y tal como describe en la declaraci&oacute;n de Privacidad de IBM (<a href="https://www.ibm.com/privay/ar/es">https://www.ibm.com/privay/ar/es</a>)</p>
                </div>
              </div>
            </form>
          </div>
        </div>
    </div>
  </div>
  <script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
  <!-- <script type="text/javascript" src="/js/validator.min.js"></script> -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/additional.js"></script>
  <script type="text/javascript" src="/js/validator.js"></script>
  
  <script>
  $(document).ready(function() {
    $("#sendPersonalityBtn").click(function () {
      $("#valorBoton").val("prod")
    })
    $("#sendTestBtn").click(function() {
      $("#valorBoton").val("test")
    })
  })
  </script>
</body>
</html>
